*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.mainContainer{
    display: flex;
    height: 100vh;
}

.leftBar{
    width: 20%;
    background-color: #a2a2a2;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.formDiv{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.message h4 {
    margin: 0;
    font-size: 1.2em;
    width: 100%;
}


.message p {
    margin: 5px 0;
    width: 100%;
}

.message span {
    font-size: 1.5em;
    margin-left: 10px;
}

#messagesContainer {
    width: 100%;
    overflow: scroll;
}

.removeButton{
    border-radius: 10rem;
    aspect-ratio: 1/1;
    border:none;
    padding: 1px;
}

.removeButton:hover{
    background-color: red;
    color: white;
}