*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.mainContainer{
    display: flex;
    height: 100vh;
}

.leftBar{
    width: 20%;
    background: rgb(203,200,255);
background: linear-gradient(0deg, rgba(203,200,255,1) 0%, rgba(255,117,244,1) 47%, rgba(0,212,255,1) 100%);
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#messageTxt{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#messageForm button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4346fd;
    color: white;
    font-weight: bold;
}

#messageForm button:hover{
    background-color: #6b6eff;
    color: white;
    cursor: pointer
}
.formDiv{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    border: 3px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    position: absolute;
}

.message h4 {
    margin: 0;
    font-size: 1.2em;
    width: 100%;
}

.message p {
    margin: 5px 0;
    width: 100%;
}

.message span {
    font-size: 1.5em;
    margin-left: 10px;
}

#messagesContainer {
    width: 100%;
    overflow: scroll;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    padding-left: 2%;
}

/* Alriks feature*/
.shadowBanned {
    display: none;
}

.removeButton{
   
    border:none;
    background-color: transparent;
}

.removeButton:hover{
   cursor: pointer;
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-5px);
    }
    20% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    90% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Apply the animation to your element */
.shake {
    animation: shake 1s;
}
